@{
    
    ViewData["Title"] = "Index";
    
   
}



<div class="main">
    <div class="products-grid js-products-grid">
    </div>
</div>

<script src="~/data/cart.js"></script>
<script src="~/data/products.js"></script>
<script src="~/scripts/amazon.js"></script>